@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
  min-height: 100vh;
  padding: 2.5vw 10vw 3.5vw;
  text-align: center;
  background:linear-gradient(25deg, #4B4E53, #000000);
  background-repeat: no-repeat;
  background-position: center;
  color: #ebeded;
  font-size: 1.1em;
  font-weight: 900;
  font-family: 'Comic Neue', 'Comic Sans MS', monospace;
  line-height: 1.5vh;
}
p {
    font-size:1.1em;
}
#itext {
    font-size: 16px;
}
/*my original button*/
#isubmit {
    text-align:center;
    margin-top:0.8em;
    padding-top:0.5em;
    padding-left:5vw;
    padding-right:5vw;
    padding-bottom:0.5em;
    font-size:1em;
    border-radius:0.5em;
    background-color:blue;
    background-image: linear-gradient(#42A1EC, #0070C9);
    border:transparent;
    color:#ebeded;
}
#isubmit:disabled {
    cursor: default;
    opacity: .3;
}
#isubmit:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}
#isubmit:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    outline: none;
}
#isubmit:focus {
    outline: none;
}
@media screen and (min-width: 800px) {
  body {
    min-height: 100vh;
    padding: 2.5vw 8.5vw 2.5vw;
    text-align: center;
    background:linear-gradient(25deg, #4B4E53, #000000);
    background-repeat: no-repeat;
    background-position: center;
    color: #ebeded;
    font-weight: 900;
    font-size: 120%;
    font-family: 'Comic Neue', 'Comic Sans MS', monospace;
  }
  p {
    font-size:1.1em;
  }
  #itext {
    font-size: 16px;
  }
}
